#aboutus-image{
	height:33.4vw;
	width: 33.4vw;
	position: absolute;
	margin-top: 7vw;
	margin-left: 5vw;
	float:left;
}

#aboutus-profiles{
	width: 90vw;
	height: auto;
	float: left;
	position: sticky;
}

.person-profile{
	width: 80%;
	min-width: 100px;
	max-width: 380px;
	min-height: 530px;
	/*margin-top: 50px;*/
	text-align: center;
	margin-top: 40px;
	float:right;
}

img.dev-profile-pic{
	width: 80%;
	border-radius: 50%;

}
img.founder-profile-pic{
	width: 80%;
	margin-left: 10%;

}

.profile-name{
	float: right;
	margin-top: 20px;
	color: #171717;
	width: 100%;
	font-size: 30px;
	text-align: center;
}

.profile-title{
	font-size: 15px;
	margin-top: 0px;
}

@media only screen and (min-width : 771px){
    .person-profile{
		width: 33vw;
		float: right;
		min-width: 200px;
	}

	#aboutus-text{
		height: auto;
		width: calc(100px + 40vw);
		color: #171717;
		position: relative;
		float: right;
		margin-right: 10vw;
		text-align: justify;
	    text-justify: inter-word;
		font-size: 1.5vw;
	}

	#aboutus-title{
		width: 60vw;
		font-size: calc(20px + 3vw);
		text-align: left !important;
		padding-left: 60px;
		position: relative;
		float: left;
		color: #	b51e1e;
	}

	.profile-description{
		width: 90%;
		margin-left: 5%;
		color: #171717;
		margin-top: 20px;
		text-align: center;
	}

}

@media only screen and (max-width : 770px){

	.person-profile{
		width: 100vw;
		min-width: 100vw;
	}

	p{
		color: #171717;
	}

	#aboutus-text{
		height: auto;
		width: 80vw;
		color: #171717;
		position: relative;
		font-size: 4.5vw;
		margin-left: 10vw;
		text-align: justify;
	    text-justify: inter-word;
	}

	#aboutus-title{
		width: 100vw;
		font-size: calc(20px + 3vw);
		text-align: center;
		position: relative;
		color: #171717;
		margin-bottom: 20px;
	}

	.profile-description{
		width: 100%;
		color: #171717;
		margin-top: 20px;
		text-align: center;
		font-size: 15px;
	}

	.person-profile{
		margin-top:0;
		min-height: 0px;
		height:100vw;
		margin-top:10vw;
		max-width: 300px;=
		float:left;
	}

	img.founder-profile-pic{
		width: 60%;
		margin-left: 0px;
	}

	img.dev-profile-pic{
		width: 60%;
		border-radius: 50%;
	}

	#aboutus-profiles{
		width: 100vw;
		height: auto;
		margin-right:0px;

	}
}
