#contactus-page-title{
	font-size: calc(30px + 2vw);
	position: relative;
	float: left;
}

#contactus-page-subtitle{
	font-size: calc(10px + 2vw);
	position: relative;
	float: left;
}

#form-container{
	height: auto;
	width: 100vw;
	float: left;
	position: relative;
}

.info-input-container{
	max-width: 420px;
	width: 90vh;
	background-color: blue;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}

input.contact-input{
	/*border: solid;*/
	/*border-width: 1px;*/
	text-align: left;
	padding-left: 10px;
	width: 100%;
	height: 45px;
	font-size: 18px;
	background-color: var(--white);
	color: black;
}

textarea.contact-textarea{
	width: 100%;
	height: 300px;
	text-align: left;
	padding-left: 10px;
	padding-top: 20px;
	font-size: 18px;
	background-color: var(--white);
	color: black;
}

#contact-submit{
	width: 200px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	background-color: orange;
	margin-top: 30px;
	text-align: center;
	line-height: 60px;
	background-color: white;
	color: #232428;
	border-radius: 2px;
}

