@font-face {
	font-family: 'AvenirLight';
	src: url('AvenirLTStd-Light.otf') format('opentype');
}

@font-face {
	font-family: 'AvenirRoman';
	src: url('AvenirLTStd-Roman.otf') format('opentype');
}

body {
font-family: 'AvenirLight';
}
