  @font-face {
			  font-family: 'AvenirLight';
			  src: url('AvenirLTStd-Light.otf') format('opentype');
			}

      @font-face {
			  font-family: 'AvenirRoman';
			  src: url('AvenirLTStd-Roman.otf') format('opentype');
			}

  body,header,div,h1,h2{
    font-family: 'AvenirLight';
  }
