
/*desktop*/
@media only screen and (min-width : 771px){
    #main-image{
        width: 100vw;
        overflow: hidden;
    }

    #page-title-text{
        top: 20vw;
        font-size: 3.8vw;
    }

    #page-sub-title{
        top: 26vw;
        font-size: 2.6vw;
    }

    img#main-scroll-down{
        position: absolute;
        top: 90vh;
        left: 0px;
    }


    /*

    BIO

    */

    #bio{
        height: auto;
    }

    #bio-header{
        font-size: 4.4vw;
        position: relative;
        float: left;
        margin-bottom: 20px;
        color: #232427;
        width: 100vw;
        text-align: center;
    }

     #bio-body{
        height: auto;
        width: 55vw;
        position: relative;
        margin-left: 5vw;
        color:#232427;
        float: left;
        margin-top: 30px;
    }

    .bio-icon{
        height: 6vw;
        width: 6vw;
        float: left;
        position: relative;
        margin-right: .8vw;
    }

    .section-header{
      width: calc(50vw - 100px);
      height: auto;

      font-size: 2.3vw;
      float:right;
      line-height: 2.5vw;

    }

    .bio-text{
      font-size: 1.2vw;
      width: calc(50vw - 100px);
      float: right;

      padding-bottom: 40px;
      margin-top: 20px;
    }

    .bio-content{
        position: relative;
        float: left;
        width: 100%;
        margin-bottom: 6vw;
    }

    #bio-picture{
        width: 33vw;
        height: 57.42vw;
        float: right;
        margin-right: 2vw;
        margin-top: 3vw;
    }

    .customer-type-button{
        background-color: white;
        height: 33vw;
        width: 33vw;
        position: relative;
        float: left;
        cursor: pointer;
        text-align: center;
    }

    .customer-type-button:hover{
        opacity: 0.5;
    }

    .customer-type-description{
        color: #ffffff;
        font-size:1.5vw;
        text-shadow: 0 2px 4px rgba(0,0,0,0.50);
        text-align: center;
        width: 100%;
        position: absolute;
        top: 23.5vw;
    }

    .customer-type-main-blurb{
        color: #ffffff;
        position:absolute;
        font-size:2.6vw;
        text-shadow: 0 2px 4px rgba(0,0,0,0.50);
        text-align: center;
        width: 100%;
        top: 19.5vw;
    }

    img.icon{
        position: absolute;
        width: 10vw;
        height: 10vw;
        left: 11.5vw;
        top: 6vw;
    }

    #img-text{
        position: relative;
    }

    .main-link-button{
        width: 25vw;
        height: 25vw;
        color: white;
        line-height: 25vw;
        position: relative;
        text-align: center;
        font-size: 3.1vw;
        float: left;

    }
}


/*mobile*/
@media only screen and (max-width : 770px){

    #bio-picture{
        display:none;
    }


    #main-image{
        width: 100vw;
        height: 100vw;
        float: left;
        overflow: hidden;
        margin-top: 50px;
    }

    img#main-scroll-down{
        position: absolute;
        top: 90vh;
        left: 0px;

    }

        #page-title-text{
            /*top: calc(calc(100vw * 555) / 1281 / 2.5);*/
            /*font-size: 3.8vw;*/
            width: 90vw;
            font-size: 11vw;
            position: absolute;
            top: 37vh;
            left: 5vw;
            color: white;
            text-align: center;
        }

        #page-sub-title{
            /*top: calc(calc(100vw * 555) / 1281 / 1.85);
            font-size: 2.6vw;*/
            width: 60vw;
    		text-align: center;
    		position: absolute;
    		top: 59vh;
    		left: 20vw;
    		color:white;
    		font-size: 7vw;
        }

        #bio{
            height: auto;
        }

        #bio-header{
            font-size: 10vw;
            position: relative;
            color: #232427;
            width: 100vw;
            text-align: center;
            float: right;
        }

        #bio-body{
            height: auto;
            position: relative;
            float: left;
            color: #232427;
            margin-top: 40px;
        }

        .bio-icon{
            width: 20vw;
            margin-left: 40vw;
            height: 70px;
            float: left;
            position: relative;
            text-align: center;
        }

        .section-header{
          width: 90vw;
          margin-left: 5vw;
          height: auto;
          font-size: 6vw;
          color: inherit;
          float: left;
          text-align: center;
        }

        .bio-text{
            font-size: 4vw;
            width: 80vw;
            margin-left: 10vw;
            margin-top: 10px;
            float: left;

        }

        .bio-content{
            position: relative;
            float: left;
            width: 100%;
            margin-bottom: 40px;
        }

        .customer-type-button{
            background-color: white;
            height: 100vw;
            width: 100vw;
            position: relative;
            float: left;
        }

         .customer-type-description{
            color: #ffffff;
            font-size:18px;
            text-shadow: 0 2px 4px rgba(0,0,0,0.50);
            text-align: center;
            width: 100vw;
            position: absolute;
            top: 63vw;
        }

        .customer-type-main-blurb{
            color: #ffffff;
            position:absolute;
            font-size:32px;
            text-shadow: 0 2px 4px rgba(0,0,0,0.50);
            text-align: center;
            width: 100%;
            top: 50vw;
        }

        img.icon{
            position:absolute;
            width: 100px;
            height:100px;
            left: calc(50vw - 50px);
            top: 17vw;
        }


        #img-text{
            position: relative;
        }

        .main-link-button{
            width: 25vw;
            height: 25vw;
            color: white;
            line-height: 25vw;
            position: relative;
            text-align: center;
            font-size: 3.1vw;
            float: left;

        }

        input#email-input{
            position: absolute;
            width: 300px;
            height: 40px;
            margin-top: 37vw;
            margin-left: calc(50vw - 150px);
            background-color: transparent;
            font-size: 20px;
        }
}

/*ipad*/
@media only screen and (width : 768px){

    #bio-picture{
        display:none;
    }

    #main-image{
        width: 100vw;
        height: 40vw;
        float: left;
        overflow: hidden;
        margin-top: 50px;
    }

        #page-title-text{
            /*top: calc(calc(100vw * 555) / 1281 / 2.5);*/
            /*font-size: 3.8vw;*/
            width: 80vw;
            font-size: 6vw;
            position: absolute;
            top: 40vh;
            left: 10vw;
            color: white;
            text-align: center;
        }

        #page-sub-title{
            /*top: calc(calc(100vw * 555) / 1281 / 1.85);
            font-size: 2.6vw;*/
            width: 60vw;
            text-align: center;
            position: absolute;
            top: 55vh;
            left: 20vw;
            color:white;
            font-size: 4vw;
        }

        #bio{
            height: auto;
        }

        #bio-header{
            font-size: 7vw;
            position: relative;
            color: #F7F7F7;
            width: 100vw;
            text-align: center;
            float: right;
        }

        #bio-body{
            height: auto;
            position: relative;
            float: left;
            color: #F7F7F7;
            margin-top: 40px;
        }

        .bio-icon{
            width: 100vw;
            height: 10vw;
            float: left;
            position: relative;
            text-align: center;
            margin-left: 0px;
        }

        .section-header{
          width: 80vw;
          margin-left: 10vw;
          height: auto;
          font-size: 4vw;
          color: #F7F7F7;
          float: left;
          text-align: center;
        }

        .bio-text{
              font-size: 2.5vw;
              width: 80vw;
              margin-left: 10vw;
              margin-top:30px;
              float: left;

              padding-bottom: 40px;
        }

        .bio-content{
            position: relative;
            float: left;
            width: 100%;
            margin-bottom: 40px;
        }


        .customer-type-button{
            background-color: white;
            height: 33vw;
            width: 33vw;
            position: relative;
            float: left;
            cursor: pointer;
            text-align: center;
        }

        .customer-type-button:hover{
            opacity: 0.5;
        }

        .customer-type-description{
            color: #ffffff;
            font-size:1.5vw;
            text-shadow: 0 2px 4px rgba(0,0,0,0.50);
            text-align: center;
            width: 100%;
            position: absolute;
            top: 23.5vw;
        }

        .customer-type-main-blurb{
            color: #ffffff;
            position:absolute;
            font-size:2.6vw;
            text-shadow: 0 2px 4px rgba(0,0,0,0.50);
            text-align: center;
            width: 100%;
            top: 19.5vw;
        }

        img.icon{
            position: absolute;
            width: 10vw;
            height: 10vw;
            left: 11.5vw;
            top: 6vw;
        }

        .main-link-button{
            width: 25vw;
            height: 25vw;
            color: white;
            line-height: 25vw;
            position: relative;
            text-align: center;
            font-size: 3.1vw;
            float: left;

        }

        input#email-input{
            position: absolute;
            width: 300px;
            height: 40px;
            margin-top: 140px;
            margin-left: calc(50vw - 150px);
            background-color: transparent;
            font-size: 20px;
        }
}
