#main-image{
    width: 100vw;
    height: auto;
}

}
#page-title-text{
    top: calc(calc(100vw * 555) / 1281 / 2.5);
    font-size: 3.8vw;
}

#page-sub-title{
    top: calc(calc(100vw * 555) / 1281 / 1.85);
    font-size: 2.6vw;
}

#bio{
    height: auto;
}

#bio-header{
    font-size: 100px;
    position: absolute;
    margin-top: 70px;
    padding-bottom:20px;
    margin-left: 80px;
    color: #F7F7F7;
}

.section-header{
  width:900px;
  margin-top:20px;
  height: auto;

  font-size: 40px;
  color: #F7F7F7;
}

.bio-content{
  width: 50vw;
  padding-top: 5px;
  padding-bottom: 25px;
  font-size: 24px;
}

.signUp-box{
height:auto;

}
#bio-body{
    height: auto;
    width: 600px;
    position: relative;
    margin-top: 230px;
    margin-left: 5vw;
    color:#F7F7F7;
}

#bio-picture{
    background-color: blue;
    height:800px;
    width: 800px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    position: relative;
    float: right;
    margin-right: 80px;
    margin-top: 50px;
}

.customer-type-button{
    background-color: white;
    height: 33.3vw;
    width: 33.3vw;
    position: relative;
    float: left;
}


#img-text{
    top: -25vw;
    position: relative;


}
.main-link-button{
    width: 25vw;
    height: 25vw;
    color: white;
    line-height: 25vw;
    position: relative;
    text-align: center;
    font-size: 3.1vw;
    float: left;

}

input#email-input{
    position: absolute;
    width: 300px;
    height: 40px;
    margin-top: 140px;
    margin-left: calc(50vw - 150px);
    background-color: transparent;
    font-size: 20px;
}
