
.newsletter-header{
	position: relative;
    float: left;
	width: 100vw;
	margin-top: 20px;
	font-size: 20px;
}

input.news-letter-signup{
    color: black;
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    font-size: 20px;
    float: left;
    background-color: transparent;
    /*border: solid;*/
    border-width: 1px;
}

#input-container{
    width: 400px;
    height: auto;
    float: left;
    margin-left: calc(50vw - 200px);
}

#submit-news {
	margin-top:10vw;
}

.asterik{
	text-align: center;
}



/* mobile */
@media only screen and (max-width : 767px) {
    #input-container{
        width: 90vw;
        height: auto;
        float: left;
        margin-left: 5vw;
    }
}
