#main-image{
    width: 100vw;
    height: auto;
}

.main-title{
    color: white;
    position: absolute;
    width: 100vw;
    text-align: center;
}

#page-title-text{
    top: calc(calc(100vw * 555) / 1281 / 2.5);
    font-size: 3.8vw;
}

#page-sub-title{
    top: calc(calc(100vw * 555) / 1281 / 1.85);
    font-size: 2.6vw;
}
