
#img {
  width:100vw;
  height:auto;
}
h1#Title{
  margin-top:15%;
}
.MainText{
  z-index: 100;
  position: relative;
  height: auto;
  width: 100vw;
  text-align: center;
  color: white;
  font-size:3.5vw;
}
h2#Pun{
  margin-top : 20%;
  font-size: 2vw
}
p{
  width: 80vw;
}
