
#img {
  width:100vw;
}
h1#Title{

}
.MainText{
  position:absolute;
  top:25%;
  text-align: center;
   left: 0;
  width: 100vw;
  color: white;
  font-size:3.5vw;
}
h2#Pun{

  top:38%;
  font-size: 2vw
}
p{
  width: 80vw;
}
